.my-content{
    border:1px solid black;
}

#jumbotron{
    background-color: aqua;
}
#jumbotron .row{
    padding: 5rem 0;
}

#portfolio .my-content{
    background-color: red;
    padding: 7rem;
}

#about{
    background-color: rebeccapurple;
}

footer > :first-child{
    background-color: darkblue;
}
footer > :last-child{
    background-color: #023900;
}

.my-social{
    background-color: beige;
    margin:0 .5rem;
}

.flex{
    display: flex;
}